<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="LabAssistantContext" connectionString="data source=tolmount.abertay.ac.uk;initial catalog=mssql1701267;persist security info=True;user id=mssql1701267;password=m2jRBgLubP;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>